* {
  font-family: helvetica;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #8bc43e;
  margin: 0;
  padding: 1%;
}

h3 {
  margin: 0px 0px 20px;
}

h4, p {
  margin: 0;
  padding: 1% 1%;
  color: black;
  background-color: #EBEBEB;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-nav {
  width: 100%;
  /*max-height: 10%;*/
  background-color: #8bc43e;
  display: flex;
  justify-content: center;
}

.left-nav {
  width: 33%;
  /*max-height: 10%;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-nav {
  width: 34%;
  display: flex;
  justify-content: center;
}

.right-nav {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.slogan {
  border-style: dashed;
  border-color: #8bc43e;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 50%;
}

.coach {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  /*background-color: grey;*/
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  border-color: #8bc43e;
  /*padding: 10px;*/
}

.title, .date, .counter {
  width: 100%;
  height: 100%;
  background-color: #8bc43e;
  color: #ffffff;
  padding: 0 1%;
}

.content {
  background-color: #8bc43e;
}

.author {
  background-color: #8bc43e;
}

.date {
  display: flex;
  align-items: center;
  height: 30px;
}

.counter {
  display: flex;
  align-items: flex-end;
}

.counter:before {
  content: url(images/likewhite.png);
  display: inline-block;
  margin-right: 1%;
}

/*.counter:before {
  content: url(images/like.png);
  display: inline-block;
  margin-right: 150px;
  zoom: 4%;
}*/

.footer {
  width: 100%;
  height: 50px;
  background-color: #8bc43e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}

.danny-img {
  height: auto;
  width: 25%;
  margin-top: 5%;
  -webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	/*-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;*/
  /*-webkit-animation: swirl-in-fwd 1s ease-out both;
  animation: swirl-in-fwd 1s ease-out both;*/
}

.image {
  height: auto;
  width: 100%;
}

#fysiken {
  text-decoration: none;
  font-size: 100%;
  color: #ffffff;
  margin-top: 3%;
  margin-right: 3%;
}

#telephone {
  text-decoration: none !important;
  font-size: 100%;
  color: #ffffff;
  margin-top: 0%;
  margin-bottom: 3%;
  margin-right: 3%;
}

#facebook {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
  margin-right: 10px;
}

#instagram {
  width: 30px;
  height: auto;
}

#date {
  margin-top: 10px;
}

/* Animations! */
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/*@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}*/

/*@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}*/
